<div id="panel_overview" class="tab-pane in active">
    <div class="row">
        <div class="col-sm-5 col-md-4">
            <div class="user-left">
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th colspan="2">Información de contacto</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Rut</td>
                            <td>{{ entity.rut }}</td>
                        </tr>
                        <tr>
                            <td>Razón Social</td>
                            <td>{{ entity.razonSocial }}</td>
                        </tr>
                        <tr>
                            <td>Giro</td>
                            <td>{{ entity.giro }}</td>
                        </tr>
                        <tr>
                            <td>Dirección</td>
                            <td>{{ entity.direccion }}, {{ entity.comuna }}</td>
                        </tr>
                        <tr>
                            <td>Teléfono</td>
                            <td>{{ entity.fono }}</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>{{ entity.mail }}</td>
                        </tr>
                        <tr>
                            <td>Contacto Técnico</td>
                            <td>{{ entity.contactoTecnicoNombre }} ({{ entity.contactoTecnicoMail }})</td>
                        </tr>
                        <tr>
                            <td>Estado</td>
                            <td>{{ entity.status.nombre }}</td>
                        </tr>
                        <tr>
                            <td>Comentarios</td>
                            <td>{{ entity.comentario }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-7 col-md-8">
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th colspan="4">Productos</th>
                    </tr>
                    <tr>
                        <th>Nombre</th>
                        <th>Cantidad</th>
                        <th>Valor unitario</th>
                        <th>Totales</th>
                    </tr>
                </thead>
                <tbody>
                    {% set sumaNeto = 0 %}
                    {% for cotprod in entity.cotizacionProducto %}
                        {% set totalProd = (cotprod.valorUnitario*entity.dolar*cotprod.cantidad) %}
                        {% set vu = cotprod.productos.indicador.abreviacion ~ ' ' ~ cotprod.valorUnitario %}
                    <tr>
                        <td>{{ cotprod.productos.nombre }}</td>
                        <td>{{ cotprod.cantidad }}</td>
                        <td>{{ vu }}</td>
                        <td>{{ totalProd | number_format(0, ',', '.') }}</td>
                    </tr>
                        {% set sumaNeto = sumaNeto + totalProd %}
                    {% endfor %}
                    {% set ivaTotal = sumaNeto * 0.19 %}
                    {% set cotizacionTotal = sumaNeto + ivaTotal %}
                    <tr>
                        <th colspan="3"><span style="float:right;">Total Neto<span></th>
                        <td>$ {{ sumaNeto|number_format(0, ',', '.') }}</td>
                    </tr>
                    <tr>
                        <th colspan="3"><span style="float:right;">I.V.A.<span></th>
                        <td>$ {{ ivaTotal|number_format(0, ',', '.') }}</td>
                    </tr>
                    <tr>
                        <th colspan="3"><span style="float:right;">Total<span></th>
                        <td>$ {{ cotizacionTotal|number_format(0, ',', '.') }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>