{% extends "ChilemediosCotizadorBundle:Frontend:layout.html.twig" %}

{% form_theme edit_form 'ChilemediosCotizadorBundle:Form:fields.html.twig' %}

{% block body -%}
    <div class="page-header">
        <h1>Modificar cotización de "{{ entity.razonSocial }}"</h1>
    </div>

    <div class="panel-body">
        
        {{ form(edit_form) }}
        
            <a href="{{ path('cotizacion') }}">
                <button class="btn btn-fix">Volver al listado</button>
            </a>

        {{ form(delete_form) }}
        
    </div>

{% endblock %}
