{% extends "ChilemediosCotizadorBundle:Frontend:layout.html.twig" %}

{% block styles -%}
    <link rel="stylesheet" href="{{ asset('bundles/chilemedioscotizador/assets/plugins/select2/select2.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/chilemedioscotizador/assets/plugins/DataTables/media/css/DT_bootstrap.css') }}">
{% endblock %}
    
{% form_theme filterForm 'ChilemediosCotizadorBundle:Form:fields.html.twig' %}

{% block body -%}
    <div class="page-header">
        <h1>Cotizaciones</h1>
    </div>
    
    <div class="panel-body">
        
        {{ form(filterForm) }}
        
    </div>

    <div class="panel-body">
        <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
            <thead>
                <tr>
                    <th>Rut</th>
                    <th>Razón social</th>
                    <th>Dirección</th>
                    <th>Fono</th>
                    <th>Fecha</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity.rut }}</td>
                        <td>{{ entity.razonSocial }}</td>
                        <td>{{ entity.direccion }}, {{ entity.comuna }}</td>
                        <td>{{ entity.fono }} / {{ entity.mail }}</td>
                        <td>{{ entity.createdAt|date('d-m-Y') }}</td>
                        <td>{{ entity.status.nombre }}</td>
                        <td>
                            <div class="visible-md visible-lg hidden-sm hidden-xs">
                                <a href="{{ path('cotizacion_show', { 'id': entity.id }) }}" class="btn btn-xs btn-green tooltips" data-placement="top" data-original-title="Ver"><i class="clip-search-3"></i></a>
                                <a href="{{ path('cotizacion_edit', { 'id': entity.id }) }}" class="btn btn-xs btn-teal tooltips" data-placement="top" data-original-title="Editar"><i class="fa fa-edit"></i></a>
                                <a href="{{ path('cotizacion_delete', { 'id': entity.id }) }}" class="btn btn-xs btn-bricky tooltips" data-placement="top" data-original-title="Eliminar"><i class="fa fa-times fa fa-white"></i></a>
                            </div>
                            <div class="visible-xs visible-sm hidden-md hidden-lg">
                                <div class="btn-group">
                                    <a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
                                        <i class="fa fa-cog"></i> <span class="caret"></span>
                                    </a>
                                    <ul role="menu" class="dropdown-menu pull-right">
                                        <li role="presentation">
                                            <a role="menuitem" tabindex="-1" href="{{ path('cotizacion_show', { 'id': entity.id }) }}">
                                                <i class="fa fa-edit"></i> Ver
                                            </a>
                                        </li>
                                        <li role="presentation">
                                            <a role="menuitem" tabindex="-1" href="{{ path('cotizacion_edit', { 'id': entity.id }) }}">
                                                <i class="fa fa-share"></i> Editar
                                            </a>
                                        </li>
                                        <li role="presentation">
                                            <a role="menuitem" tabindex="-1" href{{ path('cotizacion_delete', { 'id': entity.id }) }}">
                                                <i class="fa fa-times"></i> Eliminar
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <a href="{{ path('cotizacion_new') }}">
        <button type="button" class="btn btn-primary">
            Nueva cotización
        </button>
    </a>

{% endblock %}

{% block javascripts -%}
    <script src="{{ asset('bundles/chilemedioscotizador/assets/plugins/select2/select2.min.js') }}"></script>
    <script src="{{ asset('bundles/chilemedioscotizador/assets/plugins/DataTables/media/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bundles/chilemedioscotizador/assets/plugins/DataTables/media/js/DT_bootstrap.js') }}"></script>
    <script src="{{ asset('bundles/chilemedioscotizador/assets/js/table-data.js') }}"></script>
    <script>
        $( document ).ready(function() {
            TableData.init();
        });
    </script>
{% endblock %}