{% extends "ChilemediosCotizadorBundle:Frontend:layout.html.twig" %}

{% form_theme form 'ChilemediosCotizadorBundle:Form:fields.html.twig' %}

{% block body -%}
    <div class="page-header">
        <h1>Nueva cotizacion</h1>
    </div>

    <div class="panel-body">
        
        {{ form(form) }}
            
        <a href="{{ path('cotizacion') }}">
            <button class="btn btn-fix">Volver al listado</button>
        </a>
        
    </div>

{% endblock %}
