{% extends "ChilemediosCotizadorBundle:Frontend:layout.html.twig" %}

{% block javascripts -%}
    <script src="{{ asset('bundles/chilemedioscotizador/assets/plugins/jquery.pulsate/jquery.pulsate.min.js') }}"></script>
    <script src="{{ asset('bundles/chilemedioscotizador/assets/js/pages-user-profile.js') }}"></script>
{% endblock %}

{% block body -%}
    <h1>Detalle cotizacion {{ entity.id }} ({{ entity.status.nombre }})</h1>

    {{ include('ChilemediosCotizadorBundle:Cotizacion:detalleCotizacion.html.twig', {'entity' : entity}) }}
    
    <a href="{{ path('cotizacion') }}">
        <button class="btn btn-fix">Volver al listado</button>
    </a>

    {{ form(delete_form) }}

{% endblock %}
