{% extends "ChilemediosCotizadorBundle:Frontend:layout.html.twig" %}

{% block body -%}
    <h1>CotizacionProducto edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('cotizacionproducto') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
