{% extends "ChilemediosCotizadorBundle:Frontend:layout.html.twig" %}

{% block body -%}
    <h1>CotizacionProducto list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cotizacionid</th>
                <th>Productoid</th>
                <th>Valorunitario</th>
                <th>Cantidad</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('cotizacionproducto_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.cotizacionId }}</td>
                <td>{{ entity.productoId }}</td>
                <td>{{ entity.valorUnitario }}</td>
                <td>{{ entity.cantidad }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('cotizacionproducto_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('cotizacionproducto_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('cotizacionproducto_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
