{% extends "ChilemediosCotizadorBundle:Frontend:layout.html.twig" %}

{% block body -%}
    <h1>CotizacionProducto creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('cotizacionproducto') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
