{% extends "ChilemediosCotizadorBundle:Frontend:layout.html.twig" %}

{% block body -%}
    <h1>CotizacionProducto</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Cotizacionid</th>
                <td>{{ entity.cotizacionId }}</td>
            </tr>
            <tr>
                <th>Productoid</th>
                <td>{{ entity.productoId }}</td>
            </tr>
            <tr>
                <th>Valorunitario</th>
                <td>{{ entity.valorUnitario }}</td>
            </tr>
            <tr>
                <th>Cantidad</th>
                <td>{{ entity.cantidad }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('cotizacionproducto') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('cotizacionproducto_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
