{# Personalización de formularios #}

{# http://symfony.com/doc/current/cookbook/form/form_customization.html #}
{# https://github.com/symfony/symfony/blob/2.4/src/Symfony/Bridge/Twig/Resources/views/Form/form_div_layout.html.twig #}

{# Inicio del formularios <form> #}

{% block form_start %}
    {% spaceless %}
        {% set method = method|upper %}
        {% if method in ["GET", "POST"] %}
            {% set form_method = method %}
        {% else %}
            {% set form_method = "POST" %}
        {% endif %}
        <form name="{{ form.vars.name }}" method="{{ form_method|lower }}" action="{{ action }}"{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}{% if multipart %} enctype="multipart/form-data"{% endif %} class="form-horizontal">
        {% if form_method != method %}
            <input type="hidden" name="_method" value="{{ method }}" />
        {% endif %}
    {% endspaceless %}
{% endblock form_start %}


{# Selector normal <select> #}

{% block choice_widget_collapsed %}
    {% spaceless %}
        {% if required and empty_value is none and not empty_value_in_choices %}
            {% set required = false %}
        {% endif %}
        <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %} class="form-control">
            {% if empty_value is not none %}
                <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ empty_value|trans({}, translation_domain) }}</option>
            {% endif %}
            {% if preferred_choices|length > 0 %}
                {% set options = preferred_choices %}
                {{ block('choice_widget_options') }}
                {% if choices|length > 0 and separator is not none %}
                    <option disabled="disabled">{{ separator }}</option>
                {% endif %}
            {% endif %}
            {% set options = choices %}
            {{ block('choice_widget_options') }}
        </select>
    {% endspaceless %}
{% endblock choice_widget_collapsed %}

{# Labels <label> #}

{% block form_label %}
{% spaceless %}
    {% if label is not sameas(false) %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}

        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('col-sm-2 control-label') ~ ' required')|trim}) %}
        {% else %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('col-sm-2 control-label'))|trim}) %}
        {% endif %}

        {# Agrego mis clases css al Label #}
        {# set label_attr = label_attr|merge({'class':'col-sm-2 control-label'}) #}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}

        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}</label>
    {% endif %}
{% endspaceless %}
{% endblock form_label %}

{# Inputs #}

{% block form_widget_simple %}
    {% spaceless %}
        {% set type = type|default('text') %}
            <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %} class="form-control"/>
    {% endspaceless %}
{% endblock form_widget_simple %}

{# Formato captcha #}

{% block captcha_widget %}
    {% spaceless %}
        <img id="lajoto" src="{{ captcha_code }}" width="{{ captcha_width }}" height="{{ captcha_height }}" />
        <!--<div style="clear:both;margin-top: 5px"></div>-->
        {% if reload %}
            <script type="text/javascript">
                function reload_captcha() {
                    var img = document.getElementById('{{ id }}');
                    img.src = '{{ captcha_code }}?n=' + (new Date()).getTime();
                    // el js puro no pescaba :s
                    $('#lajoto').attr('src', img.src );
                }
            </script>
            <a style="clear:both;margin-left: 5px" class="captcha_reload" href="javascript:reload_captcha();">{{ 'Nuevo captcha' }}</a>
        {% endif %}
        {{ form_widget(form) }}
    {% endspaceless %}
{% endblock %}

{# Formato de textarea #}

{% block textarea_widget %}
    {% spaceless %}
        <textarea class="form-control" {{ block('widget_attributes') }}>{{ value }}</textarea>
    {% endspaceless %}
{% endblock textarea_widget %}


{# Formato de fila #}
{% block form_row %}
    {% spaceless %}
        <div class="form-group">
            {{ form_label(form) }}
            {{ form_errors(form) }}
            <div class="col-sm-9">
                {{ form_widget(form) }}
            </div>
        </div>
    {% endspaceless %}
{% endblock form_row %}


