<!DOCTYPE html>
<!-- Template Name: Clip-One - Responsive Admin Template build with Twitter Bootstrap 3 Version: 1.2.3 Author: ClipTheme -->
<!--[if IE 8]><html class="ie8 no-js" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9 no-js" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
	<!--<![endif]-->
	<!-- start: HEAD -->
	<head>
		<title>Chilemedios {% block title %}{% endblock %}</title>
		<!-- start: META -->
		<meta charset="utf-8" />
		<!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta content="" name="description" />
		<meta content="" name="author" />
		<!-- end: META -->
		<!-- start: MAIN CSS -->
		<link rel="stylesheet" href="{{ asset('bundles/chilemedioscotizador/assets/plugins/bootstrap/css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/chilemedioscotizador/assets/plugins/font-awesome/css/font-awesome.min.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/chilemedioscotizador/assets/fonts/style.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/chilemedioscotizador/assets/css/main.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/chilemedioscotizador/assets/css/main-responsive.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/chilemedioscotizador/assets/plugins/iCheck/skins/all.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/chilemedioscotizador/assets/plugins/bootstrap-colorpalette/css/bootstrap-colorpalette.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/chilemedioscotizador/assets/plugins/perfect-scrollbar/src/perfect-scrollbar.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/chilemedioscotizador/assets/css/theme_light.css') }}" type="text/css" id="skin_color">
		<link rel="stylesheet" href="{{ asset('bundles/chilemedioscotizador/assets/css/print.css') }}" type="text/css" media="print"/>
		<link rel="stylesheet" href="{{ asset('bundles/chilemedioscotizador/assets/plugins/gritter/css/jquery.gritter.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/chilemedioscotizador/css/fixes.css') }}">
		<!--[if IE 7]>
            <link rel="stylesheet" href="{{ asset('bundles/chilemedioscotizador/assets/plugins/font-awesome/css/font-awesome-ie7.min.css') }}">
		<![endif]-->
		<!-- end: MAIN CSS -->
		<!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
		{% block styles %}{% endblock %}
		<!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
		<link rel="shortcut icon" href="favicon.ico" />
	</head>
	<!-- end: HEAD -->
	<!-- start: BODY -->
	<body>
        <h1>Detalle cotizacion de servicios</h1>
        <div style="text-align: right;">
            <img src="{{ asset('bundles/chilemedioscotizador/img/logo.png') }}">
        </div>
        {{ include('ChilemediosCotizadorBundle:Cotizacion:detalleCotizacion.html.twig', {'entity' : entity}) }}
    </body>
	<!-- end: BODY -->
</html>

