<!DOCTYPE html>
<!--[if IE 8]><html class="ie8 no-js" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9 no-js" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
	<!--<![endif]-->
	<!-- start: HEAD -->
	<head>
		<title>Chilemedios {% block title %}{% endblock %}</title>
		<!-- start: META -->
		<meta charset="utf-8" />
		<!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta content="" name="description" />
		<meta content="" name="author" />
		<!-- end: META -->
		<!-- start: MAIN CSS -->
		<link rel="stylesheet" href="{{ asset('bundles/chilemedioscotizador/assets/plugins/bootstrap/css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/chilemedioscotizador/assets/plugins/font-awesome/css/font-awesome.min.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/chilemedioscotizador/assets/fonts/style.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/chilemedioscotizador/assets/css/main.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/chilemedioscotizador/assets/css/main-responsive.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/chilemedioscotizador/assets/plugins/iCheck/skins/all.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/chilemedioscotizador/assets/plugins/bootstrap-colorpalette/css/bootstrap-colorpalette.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/chilemedioscotizador/assets/plugins/perfect-scrollbar/src/perfect-scrollbar.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/chilemedioscotizador/assets/css/theme_light.css') }}" type="text/css" id="skin_color">
		<link rel="stylesheet" href="{{ asset('bundles/chilemedioscotizador/assets/css/print.css') }}" type="text/css" media="print"/>
		<link rel="stylesheet" href="{{ asset('bundles/chilemedioscotizador/assets/plugins/gritter/css/jquery.gritter.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/chilemedioscotizador/css/fixes.css') }}">
		<!--[if IE 7]>
            <link rel="stylesheet" href="{{ asset('bundles/chilemedioscotizador/assets/plugins/font-awesome/css/font-awesome-ie7.min.css') }}">
		<![endif]-->
		<!-- end: MAIN CSS -->
		<!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
		<link rel="stylesheet" href="{{ asset('bundles/chilemedioscotizador/js/fancybox/source/jquery.fancybox.css') }}" type="text/css" media="screen">	
		<!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
		<link rel="shortcut icon" href="favicon.ico" />
	</head>
	<!-- end: HEAD -->
	<!-- start: BODY -->
	<body>
		
		<div class="center" style="margin-top:50px;">
		
            <a id="coti" href="{{ url('home') }}" target="_self">
                <div class="btn btn-green btn-lg" style="margin:4px 0 0 0;;">
                        Demo cotizador
                </div>		
            </a>
		
		</div>
		
		<!-- start: MAIN JAVASCRIPTS -->
		<!--[if lt IE 9]>
		<script src="{{ asset('bundles/chilemedioscotizador/assets/plugins/respond.min.js') }}"></script>
		<script src="{{ asset('bundles/chilemedioscotizador/assets/plugins/excanvas.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/chilemedioscotizador/assets/js/jquery.1.10.2.min.js') }}"></script>
		<![endif]-->
		<!--[if gte IE 9]><!-->
		<script src="{{ asset('bundles/chilemedioscotizador/assets/js/jquery.min.js') }}"></script>
		<!--<![endif]-->
		<script src="{{ asset('bundles/chilemedioscotizador/assets/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js') }}"></script>
		<script src="{{ asset('bundles/chilemedioscotizador/assets/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
		<script src="{{ asset('bundles/chilemedioscotizador/assets/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js') }}"></script>
		<script src="{{ asset('bundles/chilemedioscotizador/assets/plugins/blockUI/jquery.blockUI.js') }}"></script>
		<script src="{{ asset('bundles/chilemedioscotizador/assets/plugins/iCheck/jquery.icheck.min.js') }}"></script>
		<script src="{{ asset('bundles/chilemedioscotizador/assets/plugins/perfect-scrollbar/src/jquery.mousewheel.js') }}"></script>
		<script src="{{ asset('bundles/chilemedioscotizador/assets/plugins/perfect-scrollbar/src/perfect-scrollbar.js') }}"></script>
		<script src="{{ asset('bundles/chilemedioscotizador/assets/plugins/less/less-1.5.0.min.js') }}"></script>
		<script src="{{ asset('bundles/chilemedioscotizador/assets/plugins/jquery-cookie/jquery.cookie.js') }}"></script>
		<script src="{{ asset('bundles/chilemedioscotizador/assets/plugins/bootstrap-colorpalette/js/bootstrap-colorpalette.js') }}"></script>
		<script src="{{ asset('bundles/chilemedioscotizador/assets/plugins/gritter/js/jquery.gritter.min.js') }}"></script>
		<script src="{{ asset('bundles/chilemedioscotizador/assets/js/main.js') }}"></script>
        <script src="{{ asset('bundles/chilemedioscotizador/js/fancybox/source/jquery.fancybox.js') }}"></script>
        <script>

            jQuery(document).ready(function() {

                jQuery("#coti").fancybox({
                    'transitionIn'	:	'elastic',
                    'transitionOut'	:	'elastic',
                    'speedIn'		:	600, 
                    'speedOut'		:	200, 
                    'overlayShow'	:	false,
                    'type'          :   'iframe'
                });

            });

        </script>
	</body>
	<!-- end: BODY -->
</html>
