<html>
    <head>
        <link rel="stylesheet" href="{{ asset('bundles/chilemedioscotizador/assets/plugins/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/chilemedioscotizador/assets/plugins/font-awesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/chilemedioscotizador/assets/fonts/style.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/chilemedioscotizador/assets/css/main.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/chilemedioscotizador/assets/css/main-responsive.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/chilemedioscotizador/assets/plugins/iCheck/skins/all.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/chilemedioscotizador/assets/plugins/bootstrap-colorpalette/css/bootstrap-colorpalette.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/chilemedioscotizador/assets/plugins/perfect-scrollbar/src/perfect-scrollbar.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/chilemedioscotizador/assets/css/theme_light.css') }}" type="text/css" id="skin_color">
        <link rel="stylesheet" href="{{ asset('bundles/chilemedioscotizador/assets/css/print.css') }}" type="text/css" media="print"/>
        <link rel="stylesheet" href="{{ asset('bundles/chilemedioscotizador/assets/plugins/gritter/css/jquery.gritter.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/chilemedioscotizador/css/fixes.css') }}">
    </head>
    <body>
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="clip-list-2"></i>
                Cotización
            </div>
            <div class="panel-body">
                <div id="panel_overview" class="tab-pane in active">
                    <div class="row" id="cot_page1">
                        <div class="col-sm-5 col-md-4">
                            <div class="user-left">
                                <table class="table table-condensed table-hover">
                                    <thead>
                                        <tr>
                                            <th colspan="3">Productos disponibles</th>
                                        </tr>
                                        <tr>
                                            <td>Nombre</td>
                                            <td>Valor</td>
                                            <td>Agregar</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for prod in productos %}
                                            
                                            {% set vu    = prod.valor|number_format(0, ',', '.') %}
                                            {% set label = prod.indicador.abreviacion ~ '&nbsp;' ~ prod.indicador.simbolo %}
                                            {% set ie    = prod.indicador.getValorCM %}
                                            
                                            <tr id="tr-{{ prod.id }}" class="tr-prod" >
                                                <td>{{ prod.nombre }} <span data-original-title="{{ prod.nombre }}" data-content="{{ prod.detalle }}" data-placement="right" data-trigger="hover" class="popovers"><i class="clip-info"></i></span></td>
                                                <td>{{ label|raw }}{{ vu }}</td>
                                                <td>
                                                    <a href="#" id="{{ prod.id }}" nombre="{{ prod.nombre }}" label="{{ label }}" vu="{{ vu }}" ie="{{ ie }}" class="agrega">
                                                        <button class="btn btn-success">
                                                            <i class="fa fa-plus"></i> Agregar
                                                        </button>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-sm-7 col-md-8">
                            <table id="tabla_cotizacion" class="table table-condensed table-hover">
                                <thead>
                                    <tr>
                                        <th colspan="5">Productos</th>
                                    </tr>
                                    <tr>
                                        <th class="center"><i class="fa fa-trash-o"></i></th>
                                        <th>Nombre</th>
                                        <th>Valor</th>
                                        <th>Cantidad</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id="tr_total_neto">
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td><span style="float:right;"><b>Total Neto</b></span></td>
                                        <td>$&nbsp;<span id="total_neto">0</span></td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td><span style="float:right;"><b>I.V.A.</b></span></td>
                                        <td>$&nbsp;<span id="total_iva">0</span></td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td><span style="float:right;"><b>Total</b></span></td>
                                        <td>$&nbsp;<span id="total_cotizacion">0</span></td>
                                    </tr>
                                    <tr id="tr-cheque" style="display:none">
                                        <td colspan="5">
                                            Posibilidad de pago: Treinta días contrafactura o tres cheques de <b>$&nbsp;<span id="cheques"></span></b> al día, 30 y 60.
                                            <div style="clear:both;"></div>
                                            <div class="col-sm-2 col-sm-offset-10">
                                                <button id="btn_continuar" class="btn btn-dark-grey" onclick="irPasoDos()" style="float: right;">
                                                    Continuar <i class="fa fa-arrow-circle-right"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /Formulario cotizacion productos -->
                    <!-- Formulario datos de cliente -->
                    <div class="row" id="cot_page2" style="display:none;">
                        <div class="col-sm-12">
                            <div class="page-header">
                                <h1>Información de contacto <small>Rellena los campos para que podamos responder tu cotización</small></h1>
                            </div>

                            <div class="panel-body">
                                
                                {% form_theme form 'ChilemediosCotizadorBundle:Form:fields.html.twig' %}

                                {{ form_start(form, {'attr': {'id': 'cotizacion_form'}}) }}
                                {{ form_end(form) }}
                                

                                <div id="ajaxLoader" class="btn-fix" style="display:none;">
                                    <img src="/bundles/chilemedioscotizador/img/ajax-loader.gif">
                                </div>
                                
                                <a onclick="irPasoUno()">
                                    <button class="btn btn-dark-grey btn-fix"><i class="fa fa-arrow-circle-left"></i> Volver</button>
                                </a>

                            </div>
                            <div style="clear:both;"></div>
                            <div id="globo_errores" style="display:none;" class="alert alert-block alert-warning fade in">
                                <button data-dismiss="alert" class="close" type="button">
                                    ×
                                </button>
                                <h4 class="alert-heading"><i class="fa fa-exclamation-triangle"></i> Aviso!</h4>
                                <p>
                                    Se encontraron los siguientes problemas en tu cotizaci&oacute;n:
                                </p>
                                <p id="lista_errores">
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- /Formulario datos de cliente -->
                    <div class="row" id="cot_page3" style="display:none;">
                        <div id="mensajeSuccess" class="col-sm-4 col-sm-offset-3" style="display:none;">
                            <div class="alert alert-block alert-success fade in">
                                <h4 class="alert-heading"><i class="fa fa-check-circle"></i> Éxito!</h4>
                                <p>
                                    Hemos recibido tu cotización. Te contactaremos a la brevedad
                                </p>
                            </div>
                        </div>
                        <div id="mensajeError" class="col-sm-4 col-sm-offset-3" style="display:none;">
                            <div class="alert alert-block alert-danger">
                                <h4 class="alert-heading"><i class="fa fa-times-circle"></i> Error!</h4>
                                <p>
                                    No hemos podido recibir tu cotización. Favor, intentar más tarde.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <span id="usdcm" usdcm="{{ dolarcm }}"></span>
        <script src="{{ asset('bundles/chilemedioscotizador/assets/js/jquery.min.js') }}"></script>
        <script src="{{ asset('bundles/chilemedioscotizador/assets/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/chilemedioscotizador/assets/plugins/perfect-scrollbar/src/perfect-scrollbar.js') }}"></script>
        <script src="{{ asset('bundles/chilemedioscotizador/assets/plugins/jquery-cookie/jquery.cookie.js') }}"></script>
        <script src="{{ asset('bundles/chilemedioscotizador/assets/js/main.js') }}"></script>
        <script src="{{ asset('bundles/chilemedioscotizador/assets/plugins/bootstrap-paginator/src/bootstrap-paginator.js') }}"></script>
        <script src="{{ asset('bundles/chilemedioscotizador/assets/plugins/jquery.pulsate/jquery.pulsate.min.js') }}"></script>
        <script src="{{ asset('bundles/chilemedioscotizador/assets/plugins/gritter/js/jquery.gritter.min.js') }}"></script>
        <script src="{{ asset('bundles/chilemedioscotizador/assets/js/ui-elements.js') }}"></script>
        <script src="{{ asset('bundles/chilemedioscotizador/js/cotizaciones.js') }}"></script>
        <script src="{{ asset('bundles/chilemedioscotizador/js/jquery.number.min.js') }}"></script>
        <script src="{{ asset('bundles/chilemedioscotizador/js/jquery.Rut/jquery.Rut.min.js') }}"></script>
        <script>
			$(document).ready(function() {
				Main.init();
				UIElements.init();
			});
		</script>
    </body>
</html>
