<!DOCTYPE html>
<!-- Template Name: Clip-One - Responsive Admin Template build with Twitter Bootstrap 3 Version: 1.2.3 Author: ClipTheme -->
<!--[if IE 8]><html class="ie8 no-js" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9 no-js" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
	<!--<![endif]-->
	<!-- start: HEAD -->
	<head>
		<title>Chilemedios {% block title %}{% endblock %}</title>
		<!-- start: META -->
		<meta charset="utf-8" />
		<!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta content="" name="description" />
		<meta content="" name="author" />
		<!-- end: META -->
		<!-- start: MAIN CSS -->
		<link rel="stylesheet" href="{{ asset('bundles/chilemedioscotizador/assets/plugins/bootstrap/css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/chilemedioscotizador/assets/plugins/font-awesome/css/font-awesome.min.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/chilemedioscotizador/assets/fonts/style.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/chilemedioscotizador/assets/css/main.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/chilemedioscotizador/assets/css/main-responsive.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/chilemedioscotizador/assets/plugins/iCheck/skins/all.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/chilemedioscotizador/assets/plugins/bootstrap-colorpalette/css/bootstrap-colorpalette.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/chilemedioscotizador/assets/plugins/perfect-scrollbar/src/perfect-scrollbar.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/chilemedioscotizador/assets/css/theme_light.css') }}" type="text/css" id="skin_color">
		<link rel="stylesheet" href="{{ asset('bundles/chilemedioscotizador/assets/css/print.css') }}" type="text/css" media="print"/>
		<link rel="stylesheet" href="{{ asset('bundles/chilemedioscotizador/assets/plugins/gritter/css/jquery.gritter.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/chilemedioscotizador/css/fixes.css') }}">
		<!--[if IE 7]>
            <link rel="stylesheet" href="{{ asset('bundles/chilemedioscotizador/assets/plugins/font-awesome/css/font-awesome-ie7.min.css') }}">
		<![endif]-->
		<!-- end: MAIN CSS -->
		<!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
		{% block styles %}{% endblock %}
		<!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
		<link rel="shortcut icon" href="favicon.ico" />
	</head>
	<!-- end: HEAD -->
	<!-- start: BODY -->
	<body>
		<!-- start: HEADER -->
		<div class="navbar navbar-inverse navbar-fixed-top">
			<!-- start: TOP NAVIGATION CONTAINER -->
			<div class="container">
				<div class="navbar-header">
					<!-- start: RESPONSIVE MENU TOGGLER -->
					<button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
						<span class="clip-list-2"></span>
					</button>
					<!-- end: RESPONSIVE MENU TOGGLER -->
					<!-- start: LOGO -->
					<a class="navbar-brand" href="index.html">
						Chilemedios<!--<img src="{{ asset('bundles/chilemedioscotizador/img/logo.png') }}"></img>-->
					</a>
					<!-- end: LOGO -->
				</div>
				<div class="navbar-tools">
					<!-- start: TOP NAVIGATION MENU -->
					<ul class="nav navbar-right">
						<!-- start: USER DROPDOWN -->
						<li class="dropdown current-user">
							<a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" data-close-others="true" href="#">
								<span class="username">{{ app.user.username }}</span>
								<i class="clip-chevron-down"></i>
							</a>
							<ul class="dropdown-menu">
								<li>
									<a href="{{ path('logout') }}">
										<i class="clip-exit"></i>
										&nbsp;Log Out
									</a>
								</li>
							</ul>
						</li>
						<!-- end: USER DROPDOWN -->
					</ul>
					<!-- end: TOP NAVIGATION MENU -->
				</div>
			</div>
			<!-- end: TOP NAVIGATION CONTAINER -->
		</div>
		<!-- end: HEADER -->
		<!-- start: MAIN CONTAINER -->
		<div class="main-container">
			<div class="navbar-content">
				<!-- start: SIDEBAR -->
				<div class="main-navigation navbar-collapse collapse">
					<!-- start: MAIN MENU TOGGLER BUTTON -->
					<div class="navigation-toggler">
						<i class="clip-chevron-left"></i>
						<i class="clip-chevron-right"></i>
					</div>
					<!-- end: MAIN MENU TOGGLER BUTTON -->
					<!-- start: MAIN NAVIGATION MENU -->
					<ul class="main-navigation-menu">
						<li>
							<a href="{{ url('producto') }}"><i class="fa fa-barcode"></i>
								<span class="title"> Productos </span><span class="selected"></span>
							</a>
						</li>
						<li>
							<a href="{{ url('cotizacion') }}"><i class="fa fa-th-list"></i>
								<span class="title"> Cotizaciones </span><span class="selected"></span>
							</a>
						</li>
						<li>
							<a href="{{ url('usuario') }}"><i class="clip-users"></i>
								<span class="title"> Usuarios </span><span class="selected"></span>
							</a>
						</li>
						<li>
							<a href="{{ url('indicadoreconomico') }}"><i class="fa fa-dollar"></i>
								<span class="title"> Indicadores económicos </span><span class="selected"></span>
							</a>
						</li>
					</ul>
					<!-- end: MAIN NAVIGATION MENU -->
				</div>
				<!-- end: SIDEBAR -->
			</div>
			<!-- start: PAGE -->
			<div class="main-content">
				<!-- start: PANEL CONFIGURATION MODAL FORM -->
				<div class="modal fade" id="panel-config" tabindex="-1" role="dialog" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
									&times;
								</button>
								<h4 class="modal-title">Panel Configuration</h4>
							</div>
							<div class="modal-body">
								Here will be a configuration form
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">
									Close
								</button>
								<button type="button" class="btn btn-primary">
									Save changes
								</button>
							</div>
						</div>
						<!-- /.modal-content -->
					</div>
					<!-- /.modal-dialog -->
				</div>
				<!-- /.modal -->
				<!-- end: SPANEL CONFIGURATION MODAL FORM -->
				<div class="container">
					<!-- start: PAGE HEADER -->
					<div class="row">
						<div class="col-sm-12">
							<!-- start: PAGE TITLE & BREADCRUMB -->
							<ol class="breadcrumb">
								<li class="active">
									<i class="clip-puzzle-4"></i>
										Admin
								</li>
								<li class="active">
									<!--Form Elements-->
								</li>
							</ol>
							<!-- end: PAGE TITLE & BREADCRUMB -->
						</div>
					</div>
					<!-- end: PAGE HEADER -->
					<!-- start: PAGE CONTENT -->
					<div class="row">
						<div class="col-sm-12">
						{% block body %}{% endblock %}
						</div>
					</div>
					<!-- end: PAGE CONTENT-->
				</div>
			</div>
			<!-- end: PAGE -->
		</div>
		<!-- end: MAIN CONTAINER -->
		<!-- start: FOOTER -->
		<div class="footer clearfix">
			<div class="footer-inner">
				{{ "now"|date("Y") }} &copy; Cotizador de productos para <a href="http://chilemedios.cl/" target="_blank">Chilemedios</a> por <a href="mailto:efeferrari@gmail.com">Franco Ferrari</a>.
			</div>
			<div class="footer-items">
				<span class="go-top"><i class="clip-chevron-up"></i></span>
			</div>
		</div>
		<!-- end: FOOTER -->
		<!-- start: MAIN JAVASCRIPTS -->
		<!--[if lt IE 9]>
		<script src="{{ asset('bundles/chilemedioscotizador/assets/plugins/respond.min.js') }}"></script>
		<script src="{{ asset('bundles/chilemedioscotizador/assets/plugins/excanvas.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/chilemedioscotizador/assets/js/jquery.1.10.2.min.js') }}"></script>
		<![endif]-->
		<!--[if gte IE 9]><!-->
		<script src="{{ asset('bundles/chilemedioscotizador/assets/js/jquery.min.js') }}"></script>
		<!--<![endif]-->
		<script src="{{ asset('bundles/chilemedioscotizador/assets/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js') }}"></script>
		<script src="{{ asset('bundles/chilemedioscotizador/assets/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
		<script src="{{ asset('bundles/chilemedioscotizador/assets/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js') }}"></script>
		<script src="{{ asset('bundles/chilemedioscotizador/assets/plugins/blockUI/jquery.blockUI.js') }}"></script>
		<script src="{{ asset('bundles/chilemedioscotizador/assets/plugins/iCheck/jquery.icheck.min.js') }}"></script>
		<script src="{{ asset('bundles/chilemedioscotizador/assets/plugins/perfect-scrollbar/src/jquery.mousewheel.js') }}"></script>
		<script src="{{ asset('bundles/chilemedioscotizador/assets/plugins/perfect-scrollbar/src/perfect-scrollbar.js') }}"></script>
		<script src="{{ asset('bundles/chilemedioscotizador/assets/plugins/less/less-1.5.0.min.js') }}"></script>
		<script src="{{ asset('bundles/chilemedioscotizador/assets/plugins/jquery-cookie/jquery.cookie.js') }}"></script>
		<script src="{{ asset('bundles/chilemedioscotizador/assets/plugins/bootstrap-colorpalette/js/bootstrap-colorpalette.js') }}"></script>
		<script src="{{ asset('bundles/chilemedioscotizador/assets/plugins/gritter/js/jquery.gritter.min.js') }}"></script>
		<script src="{{ asset('bundles/chilemedioscotizador/assets/js/main.js') }}"></script>
		<!-- end: MAIN JAVASCRIPTS -->
		<!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
		{% block javascripts %}{% endblock %}
		<!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
        <script>
            // Flashes
            $( document ).ready(function() {

                {% for flashMessage in app.session.flashbag.get('notice') %}
                    $.gritter.add({
                        title: 'Noticia!',
                        text: '{{ flashMessage }}'
                    });

                {% endfor %}

                {% for flashMessage in app.session.flashbag.get('error') %}
                    $.gritter.add({
                        title: 'ERROR!',
                        text: '{{ flashMessage }}'
                    });
                {% endfor %}

                Main.init();

            });
        </script>
	</body>
	<!-- end: BODY -->
</html>