<html>
    <head>
	</head>
    <body>
        
        <h3>Resumen de cotización de servicios</h3>
        
        <p>Estimado/a {{ cotizacion.razonSocial }}</p>
        <p>Detallamos a continuación los productos cotizados por usted:</p>

        {{ include('ChilemediosCotizadorBundle:Cotizacion:detalleCotizacion.html.twig', {'entity' : cotizacion}) }}

        <p>&nbsp;</p>
        <p>Nos contactaremos con usted lo antes posible.</p>
        <p>&nbsp;</p>
    </body>
</html>
