{% extends "ChilemediosCotizadorBundle:Frontend:layout.html.twig" %}

{% block body -%}
    <div class="page-header">
        <h1>Productos</h1>
    </div>

    <div class="panel-body">
        <table class="table table-condensed table-hover" id="sample-table-3">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Valor</th>
                    <th>Activo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.valor }}</td>
                <td>
                    {% if entity.activo %}
                        Activo
                    {% else %}
                        Inactivo
                    {% endif %}
                </td>
                <td>
                    <div class="visible-md visible-lg hidden-sm hidden-xs">
                        <a href="{{ path('producto_show', { 'id': entity.id }) }}" class="btn btn-xs btn-green tooltips" data-placement="top" data-original-title="Ver"><i class="clip-search-3"></i></a>
                        <a href="{{ path('producto_edit', { 'id': entity.id }) }}" class="btn btn-xs btn-teal tooltips" data-placement="top" data-original-title="Editar"><i class="fa fa-edit"></i></a>
                        <a href="{{ path('producto_delete', { 'id': entity.id }) }}" class="btn btn-xs btn-bricky tooltips" data-placement="top" data-original-title="Eliminar"><i class="fa fa-times fa fa-white"></i></a>
                    </div>
                    <div class="visible-xs visible-sm hidden-md hidden-lg">
                        <div class="btn-group">
                            <a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
                                <i class="fa fa-cog"></i> <span class="caret"></span>
                            </a>
                            <ul role="menu" class="dropdown-menu pull-right">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="{{ path('producto_show', { 'id': entity.id }) }}">
                                        <i class="fa fa-edit"></i> Ver
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="{{ path('producto_edit', { 'id': entity.id }) }}">
                                        <i class="fa fa-share"></i> Editar
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href{{ path('producto_delete', { 'id': entity.id }) }}">
                                        <i class="fa fa-times"></i> Eliminar
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>

    <a href="{{ path('producto_new') }}">
        <button type="button" class="btn btn-primary">
            Nuevo producto
        </button>
    </a>

    {% endblock %}
