{% extends "ChilemediosCotizadorBundle:Frontend:layout.html.twig" %}

{% block body -%}
    <div class="page-header">
        <h1>{{ entity.nombre }}</h1>
    </div>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Detalle</th>
                <td>{{ entity.detalle }}</td>
            </tr>
            <tr>
                <th>Valor</th>
                <td>{{ entity.valor }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>
                    {% if entity.activo %}
                        Activo
                    {% else %}
                        Inactivo
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <hr>

    <a href="{{ path('producto') }}">
        <button class="btn btn-fix">Volver al listado</button>
    </a>

    {{ form(delete_form) }}

{% endblock %}
