{% extends "ChilemediosCotizadorBundle:Frontend:layout.html.twig" %}

{% form_theme edit_form 'ChilemediosCotizadorBundle:Form:fields.html.twig' %}

{% block body -%}
    <div class="page-header">
        <h1>Modificar "{{ entity.nombre }}"</h1>
    </div>

    <div class="panel-body">
        
        {{ form(edit_form) }}
            
        <a href="{{ path('indicadoreconomico') }}">
            <button class="btn btn-fix">Volver al listado</button>
        </a>
        
        {{ form(delete_form) }}
        
    </div>

    <div class="panel-body">
        
        

    </div>

{% endblock %}
