{% extends "ChilemediosCotizadorBundle:Frontend:layout.html.twig" %}

{% form_theme form 'ChilemediosCotizadorBundle:Form:fields.html.twig' %}

{% block body -%}

    <h1>Nuevo Indicador Económico</h1>

    {{ form(form) }}

    <a href="{{ path('indicadoreconomico') }}">
        <button class="btn btn-fix">Volver al listado</button>
    </a>

{% endblock %}
