{% extends "ChilemediosCotizadorBundle:Frontend:layout.html.twig" %}

{% block body -%}
    <h1>IndicadorEconomico</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Valor</th>
                <td>{{ entity.valor }}</td>
            </tr>
            <tr>
                <th>Lastupdated</th>
                <td>{{ entity.lastUpdated|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('indicadoreconomico') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('indicadoreconomico_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
