{% extends "ChilemediosCotizadorBundle:Frontend:layout.html.twig" %}

{% form_theme form 'ChilemediosCotizadorBundle:Form:fields.html.twig' %}

{% block body -%}
    <div class="page-header">
        <h1>Nuevo Producto</h1>
    </div>

    <div class="panel-body">
        
        {{ form(form) }}

        <a href="{{ path('usuario') }}">
            <button class="btn btn-fix">Volver al listado</button>
        </a>
        
    </div>

{% endblock %}
